{
  "logger": "echo '%s'",
  "slack": "curl -X POST https://slack.com/api/chat.postMessage -d 'token=foo&channel=alerts&username=ereb_bot&parse=full&link_names=1&icon_emoji=:sgusch_crazy:&attachments=[{\"text\": \"%s :piska: \",\"fallback\": \"%s\",\"short\":true,\"color\":\"danger\"}]' --silent > /dev/null",
  "slack_api": {
    "webhook_url": "https://hooks.slack.com/services/blabla",
    "text": "Run time: *{run_time}, last *{fails}* failed!*\nExit code: *{exit_code}*\nstdout: ```{stdout_first}\n....\n{stdout_last}```\nstderr: ```{stderr_first}\n....\n{stderr_last}```",
    "include_strings": 3
  }
}
