.nobr {
  white-space: nowrap;
}

.btn:focus {
  outline: none !important;
}

.wi__running_button {
}

.wi__next_run_text {
}

.wi__formatted_stdout, .wi__formatted_stderr {
  background: #fff;
  padding: 20px;
  color: #000;
}

.navbar-form .wi__host_input {
  width: 200px;
}

.ereb_wi--tasks-status {
  white-space: nowrap;

  i {
    margin-left: 5px;
  }
}

.navbar-collapse {
  position: relative;
  padding-right: 25%;
}

.navbar-text {
  position: absolute;
  top: 0;
  right: 15px;
  width: 25%;
  text-align: right;
}

.glyphicon-ok-circle {
  margin-right: 15px;
}

.ereb_wi--comma_sepated_word::after {
  content: ', ';
}

.ereb_wi--comma_sepated_word:last-child::after {
  content: '';
}
