.btn:focus {
  outline: none !important;
}

.wi__running_button {
}

.wi__next_run_text {
}

.wi__formatted_stdout, .wi__formatted_stderr {
  background: #fff;
  padding: 20px;
  color: #000;
}

.navbar-form .wi__host_input {
  width: 200px;
}
.tasks-status {
  white-space: nowrap;
}